# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/erp_chico?schema=public"

# JWT Config
JWT_SECRET="super-secret-key-change-me"
JWT_EXPIRES_IN="1d"

# App Config
PORT=3000
NODE_ENV=development
API_PREFIX=api/v1